[data.git]
name = "Dhruv Deshpande"
email = "dhrv.d@proton.me"
{{- if eq .chezmoi.hostname "osmium" }}
signingkey = "key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILM7RbFIgyj8JFVcmABTyl68DFrmvCLPRJrI/FimiNS7 dhrvd@osmium"
{{- end }}

