{
  "email": "{{ .git.email }}",
  "sso_id": null,
  "base_url": "https://api.bitwarden.eu",
  "identity_url": "https://identity.bitwarden.eu",
  "ui_url": "https://vault.bitwarden.eu",
  "notifications_url": null,
  "lock_timeout": 3600,
  "sync_interval": 3600,
  "pinentry": "pinentry",
  "client_cert_path": null
}
